<html>
    <head>

    </head>
    <body>
        <main>
            <h1>Activities: </h1>
            <% activities.forEach( (activity) => { %>
                <li> <%= activity.name %> <%= activity.money %></li>
            <% } ) %>
            <h2>Donate</h2>
            <form method="post" action="/activities/donate">
                <input placeholder="your name" type="text" name="userName">
                <input placeholder="your password" type="text" name="password">
                <select name="activityName">
                    <% activities.forEach( (activity) => { %>
                         <option value=<%= activity.name %>> <%= activity.name%></option>
                    <% } ) %>
                </select>
                <input placeholder="money to donate" type="number" name="money">
                <button type="submit">Donate</button>
            </form>
            <h2>Check user money</h2>
            <form method="post" action="/users/check">
                <input placeholder="your name" type="text" name="userName">
                <input placeholder="your password" type="text" name="password">
                <button type="submit">Check</button>
            </form>
        </main>
    </body>
</html>